
html{
   font-size: 62.5%;
}

body{
   font-family:$font-family;
   padding-top: 70px;

   @include mq(sp){
   padding-top: 60px;
   }
}


*,
*::before,
*::after{
   box-sizing: border-box;
}

img{
   vertical-align: bottom;
}

a{
   display: block;
   text-decoration: none;
}
