
// color ------------------------------------

$txt__main_color: #333333; //black
$txt__sub_color: #FFFFFF; //white
$blog__txt: #888888;
$sub__ttl_under: #3EA1D1;
$price__color: #989898;
$btn__color: #3EA1D1;


// font-family ------------------------------------

$font-family: 'Hiragino Mincho ProN','Noto Sans JP', sans-serif;

// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Noto Serif JP', serif;


// width ------------------------------------

$width-inner: 1200px;
